@page "/nuevoPedido"
@using ContadSp.Modelos
@using ContadSp.Repositorios

@inject IRepositorio<Modelo_Pedido> repositorioPedido
@inject IRepositorio<Modelo_Articulos> repositorioArticulos
@inject IRepositorio<Modelo_ABM_Categoria> Categorias
@inject IRepositorio<Modelo_Unidad_Medida> repositorioUnidadMedida
@inject IRepositorio<Modelo_Detalle_Pedido> repositorioDetallePedido


<h3>Realizar Pedido</h3>

<EditForm Model="@pedido" class="formPedido" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="fecha">Fecha:</label>
        <InputDate id="fecha" class="form-control" @bind-Value="pedido.fecha_pedido" />
    </div>
    <div class="form-group">
        <label for="destino">Destino:</label>
        <InputText id="destino" class="form-control" @bind-Value="pedido.destino" />
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <InputText id="descripcion" class="form-control" @bind-Value="pedido.descripcion" />
    </div>
    <div class="form-group">
        <label for="usuario">Usuario:</label>
        <InputText id="usuario" class="form-control" @bind-Value="pedido.usuario_solicita" />
    </div>
    <br />
    @if (listaArticulos == null)
    {
        <p><em>No se agregó ningun artículo al pedido</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Artículo</th>
                    <th>ID Art.</th>
                    <th>Cantidad</th>
                    <th>Cantidad letra</th>
                    <th>Unidad de medida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listaArticulos)
                {
                    <tr>
                        <td style="width: 30%">@item.descripcion</td>

                        <td style="width: 10%">@item.id</td>
                        <td><input type="number" @bind-value="cantidadNum" /></td>
                        <td><input type="text" @bind-value="cantidadLetra" /></td>
                        <td style="width: 20%">
                            <select class="form-select" id="unidadMedida" value="unidadMedida">
                                <option value="">Seleccione unidad de medida</option>
                                @foreach (var um in unidadMedida)
                                {
                                    <option value="@um.id">@um.unidad</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <br />
    <button type="submit" class="btn btn-primary" style="float: right;">Guardar Pedido</button>
    <br />


</EditForm>

<br />
<br />
<div class="busqueda">
    <div class="input-busqueda">
        <input type="text" class="form-control" placeholder="Buscar artículos" @bind="busqueda" />
    </div>
    <div class="boton-busqueda">
        <button type="button" class="btn btn-primary" @onclick="() => BuscarArticulos(busqueda)"><i class="oi oi-magnifying-glass"></i></button>
    </div>
    <div class="boton-ver">
        <button type="button" class="btn btn-primary" @onclick="() => VerArticulos()">Ver Todos</button>
    </div>
</div>
<br />
<br />

@if (articulos == null)
{
    <p><em>No se encontraron artículos</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Artículo</th>
                <th>Monto Aprox.</th>
                <th>Última Fecha de Monto</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var articulo in articulos.ToList())
            {
                <tr>
                    <td>@articulo.descripcion</td>
                    <td>@articulo.monto_aprox</td>
                    <td>@articulo.fecha_ultimo_monto</td>
                    <td>@(articulo.Categoria != null ? articulo.Categoria.categoria : "Sin categoría")</td>
                    <td>
                        <button class="btn btn-success" @onclick="() => AgregarArticulos(articulo)">Agregar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}




@code {

    private Modelo_Pedido pedido = new Modelo_Pedido();
    private IEnumerable<Modelo_Articulos> articulos;
    private Modelo_Articulos nuevoArticulo = new Modelo_Articulos();
    private IEnumerable<Modelo_Unidad_Medida> unidadMedida;
    private Modelo_Detalle_Pedido detallePedido = new Modelo_Detalle_Pedido();
    private List<Modelo_Articulos> listaArticulos = new List<Modelo_Articulos>();
    private string busqueda { get; set; }
    private int cantidadNum;
    private string cantidadLetra;

    protected override async Task OnInitializedAsync()
    {
        var result = await repositorioUnidadMedida.ObtenerTodo();
        if (result != null)
        {
            unidadMedida = result;
        }
    }

    private async Task VerArticulos()
    {
        articulos = await repositorioArticulos.ObtenerTodo();

    }

    private async Task AgregarArticulos(Modelo_Articulos articulo)
    {
        listaArticulos.Add(articulo);
    }

    private async void BuscarArticulos(string buscar)
    {
        articulos = await repositorioArticulos.Buscar(busqueda);
    }

    private async Task HandleValidSubmit()
    {
        await repositorioPedido.Agregar(pedido);
        pedido = new Modelo_Pedido();
        var lastId = await repositorioPedido.ObtenerUltimo();

        foreach(var articulo in articulos)
        {
            detallePedido = new Modelo_Detalle_Pedido();
            detallePedido.cantidad = cantidadNum;
            detallePedido.cantidad_letra = cantidadLetra; // tanto cantidad numero como cantidad letra estan bindeando el mismo valor para todos los artículos (resolver)
            detallePedido.id_articulo = articulo.id;
            detallePedido.id_pedido = lastId; 
            detallePedido.id_unidad = 1; // falta bindear con el valor del select
            await repositorioDetallePedido.Agregar(detallePedido);

        }

    }

}
