@page "/nuevoPedido"
@using ContadSp.Modelos
@using ContadSp.Repositorios

@inject IRepositorio<Modelo_Pedido> repositorioPedido
@inject IRepositorio<Modelo_Articulos> repositorioArticulos
@inject IRepositorio<Modelo_ABM_Categoria> Categorias
@inject IRepositorio<Modelo_Unidad_Medida> repositorioUnidadMedida
@inject IRepositorio<Modelo_Detalle_Pedido> repositorioDetallePedido
@inject IRepositorio<Modelo_Destino> repositorioDestino


<h3>Realizar Pedido</h3>

<EditForm Model="@pedido" class="formPedido" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <InputDate id="fecha" class="form-control" @bind-Value="pedido.fecha_pedido" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="destino">Destino:</label>
                @* <InputNumber id="destino" class="form-control" @bind-Value="pedido.id_destino" required /> *@
               <select class="form-select" id="destino" @bind="pedido.id_destino" required>
                    <option value="">Seleccione destino</option>
                    @foreach (var destino in listaDestinos)
                    {
                        <option value="@destino.id">@destino.destino</option>
                    }
                </select>
            </div>
        </div>
    </div>

    
    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <InputText id="descripcion" class="form-control" @bind-Value="pedido.descripcion" required/>
    </div>
    <div class="form-group">
        <label for="usuario">Usuario:</label>
        <InputText id="usuario" class="form-control" @bind-Value="pedido.usuario_solicita" required/>
    </div>
    <br />
    @if (listaArticulos == null)
    {
        <p><em>No se agregó ningun artículo al pedido</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Artículo</th>
                    <th>ID Art.</th>
                    <th>Cantidad</th>
                    <th>Cantidad letra</th>
                    <th>Unidad de medida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listaArticulos)
                {
                    <tr>
                        <td style="width: 30%">@item.descripcion</td>

                        <td style="width: 10%">@item.id</td>
                        <td><input type="number" @bind-value="item.cantidadNum" @oninput="e => OnInput(item, e)" required/></td>


                        <td><input type="text" @bind-value="item.cantidadLetra" disabled readonly/></td>

                        <td style="width: 20%">
                            <select class="form-select" id="unidadMedida" @bind="item.unidadMedida" required>
                                <option value="">Seleccione unidad de medida</option>
                                @foreach (var um in unidadMedida)
                                {
                                    <option value="@um.id">@um.unidad</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <br />
    <button type="submit" class="btn btn-primary" style="float: right;">Guardar Pedido</button>
    <br />


</EditForm>

<br />
<br />
<div class="busqueda">
    <div class="input-busqueda">
        <input type="text" class="form-control" placeholder="Buscar artículos" @bind-value="busqueda" />
    </div>
    <div class="boton-busqueda">
        <button type="button" class="btn btn-primary" @onclick="() => BuscarArticulos(busqueda)"><i class="oi oi-magnifying-glass"></i></button>
    </div>
    <div class="boton-ver">
        <button type="button" class="btn btn-primary" @onclick="() => VerArticulos()">Ver Todos</button>
    </div>
</div>
<br />
<br />

@if (articulos == null)
{
    <p><em>No se encontraron artículos</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Artículo</th>
                <th>Monto Aprox.</th>
                <th>Última Fecha de Monto</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var articulo in articulos.ToList())
            {
                <tr>
                    <td>@articulo.descripcion</td>
                    <td>@articulo.monto_aprox</td>
                    <td>@articulo.fecha_ultimo_monto</td>
                    <td>@(articulo.Categoria != null ? articulo.Categoria.categoria : "Sin categoría")</td>
                    <td>
                        <button class="btn btn-success" @onclick="() => AgregarArticulos(articulo)">Agregar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}




@code {

    
    private IEnumerable<Modelo_Articulos> articulos;
    private IEnumerable<Modelo_Unidad_Medida> unidadMedida;
    private IEnumerable<Modelo_Destino> destinos;

    private Modelo_Articulos nuevoArticulo = new Modelo_Articulos();
    private Modelo_Pedido pedido = new Modelo_Pedido();
    private Modelo_Detalle_Pedido detallePedido = new Modelo_Detalle_Pedido();

    private List<Modelo_Articulos> listaArticulos = new List<Modelo_Articulos>();
    private List<Modelo_Destino> listaDestinos = new List<Modelo_Destino>();

    private string busqueda { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var um = await repositorioUnidadMedida.ObtenerTodo();
        
        if (um != null)
        {
            unidadMedida = um;
        }
         var destino = await repositorioDestino.ObtenerTodo();
         if (destino != null)
         {
              listaDestinos = destino.ToList();
         }
    }

    private async Task VerArticulos()
    {
        articulos = await repositorioArticulos.ObtenerTodo();
    }

    private async Task AgregarArticulos(Modelo_Articulos articulo)
    {
        listaArticulos.Add(articulo);
    }

    private async void BuscarArticulos(string buscar)
    {
        articulos = await repositorioArticulos.Buscar(busqueda);
    }

    private async Task HandleValidSubmit()
    {
        await repositorioPedido.Agregar(pedido);
        pedido = new Modelo_Pedido();
        var lastId = await repositorioPedido.ObtenerUltimo();

        foreach (var articulo in articulos)
        {
            detallePedido = new Modelo_Detalle_Pedido();
            detallePedido.cantidad = articulo.cantidadNum;
            detallePedido.cantidad_letra = articulo.cantidadLetra;
            detallePedido.id_articulo = articulo.id;
            detallePedido.id_pedido = lastId;
            detallePedido.id_unidad = articulo.unidadMedida;
            await repositorioDetallePedido.Agregar(detallePedido);
        }
        listaArticulos.Clear();
        detallePedido = new Modelo_Detalle_Pedido();
        pedido = new Modelo_Pedido();
    }

    private void OnInput(Modelo_Articulos articulo, ChangeEventArgs e)
    {
        UpdateCantidadLetra(articulo, e);
    }


    private void UpdateCantidadLetra(Modelo_Articulos articulo, ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out var num))
        {
            articulo.cantidadLetra = Conversores.NumeroALetras(num);
        }
    }


}
