@page "/lista-articulos"
@using ContadSp.Modelos
@using ContadSp.Repositorios

@inject IRepositorio<Modelo_ABM_Categoria> Categorias
@inject IRepositorio<Modelo_Articulos> RepositorioArticulos

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="text-center">Lista de Artículos</h3>
                </div>
                <div class="card-body">
                    @if (articulos == null)
                    {
                        <p><em>Cargando...</em></p>
                    }
                    else
                    {
                        <div style="overflow: auto;">
                            <table class="table table-striped table-responsive table-hover">
                                <thead class="thead-dark">


                                    <tr>
                                        <th>Descripción</th>
                                        <th>Monto Aproximado</th>
                                        <th>Fecha Último Monto</th>
                                        <th>Categoría</th>
                                        <th>Foto</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var articulo in articulos)
                                    {
                                        <tr>
                                            <td>@articulo.descripcion</td>
                                            <td>@articulo.monto_aprox</td>
                                            <td>@articulo.fecha_ultimo_monto</td>
                                            <td>@(articulo.Categoria != null ? articulo.Categoria.categoria : "Sin categoría")</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(articulo.foto))
                                                {
                                                    var fileName = Path.GetFileName(articulo.foto);
                                                    <img src="@($"/fotos1/{fileName}")" alt="Foto del artículo" width="100" />

                                                }
                                                else
                                                {
                                                    <p>No hay foto disponible</p>
                                                }
                                            </td>
                                            <td>
                                                <div class="botones-acciones">
                                                    <a href="editar-articulo/@articulo.id" class="btn btn-edit btn-sm"><span class="oi oi-pencil" id="icono" aria-hidden="true"></span> Editar</a>
                                                    <button class="btn btn-danger btn-sm" @onclick="() => EliminarArticulo(articulo.id)"><span class="oi oi-trash" id="icono" aria-hidden="true"></span> Eliminar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private IEnumerable<Modelo_Articulos> articulos;

    protected override async Task OnInitializedAsync()
    {
        articulos = await RepositorioArticulos.ObtenerTodo();
    }

    private void EditarArticulo(int id)
    {
        // Aquí puedes redirigir a la página de edición con el ID del artículo
        // NavigationManager.NavigateTo($"/editar-articulo/{id}");
    }

    private async Task EliminarArticulo(int id)
    {
        // Aquí puedes llamar al método de eliminación del repositorio
        await RepositorioArticulos.Eliminar(id);
        // Y luego actualizar la lista de artículos
        articulos = await RepositorioArticulos.ObtenerTodo();
    }
}